.ServicesSection {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}


.services-header h2{
    
    font-size: 2.3rem;
    color: #1a2b5e;
    position: relative;
}

.services-header h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #d4a853;
  margin: 0.5rem auto 0;
  border-radius: 2px;
}

.services-header p{
    font-size: 1.1rem;;
    color: #8a8880;
    margin-top: 0.5rem;
    margin-bottom: 2.5rem;
}


.cards-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    
}


@media (max-width: 1024px) {
  .cards-wrapper {
    gap: 2rem;
  }
}


@media (max-width: 768px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .services-header {
    margin-top: 3rem;
  }

  .services-header h2 {
    font-size: 1.8rem;
  }
}